body{
    background-color:#0B192C;
}
.bg-light-dark{
    background-color:#112240;
}

.footer {
    background-color: #112240; /* A darker shade for the footer */
    color: #ccd6f6; /* Light text color */
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #233554; /* A subtle border at the top */
}

.footer p {
    margin-bottom: 0;
    font-size: 0.9rem;
}
